<mat-drawer-container autosize>
    <mat-drawer #drawer class="nav-container " mode="side" position="start" [opened]="isShowing">
        <app-layer-manager *ngIf="managerManu.session_layers" [layers]="mapLayers"  style="width: 100%; height: 120%;" ></app-layer-manager>
        <app-geodata-manager *ngIf="managerManu.session_geodata" [Vizualizaton]="managerVizualizaton" style="width: 100%; height: 120%;" ></app-geodata-manager>
    </mat-drawer>
    <mat-drawer-content>
        <div class="map-container-area">
            <div style="width: 100%; height: 100%;display: inline-block;">
                <app-open-layer #mapOpenLayer [map]="mapLayers"></app-open-layer>
            </div>
        </div>
        <div class="button-extends-options">
        <button>
            <mat-icon mat-list-icon class="expanded-button sidenav-button "   (click)="isShowing = !isShowing" [ngClass]="{'rotated':isExpanded}">chevron_right</mat-icon> 
        </button>
        </div>
        <div class="button-extends-options-right"  *ngIf="isShowingButtonNavRight">
            <button>
                <mat-icon mat-list-icon class="expanded-button sidenav-button "  (click)="isShowingNavRight = !isShowingNavRight" [ngClass]="{'rotated':isExpanded}">chevron_right</mat-icon> 
            </button>
        </div> 
        <div class="button-extends-options-layers" >
            <button>
                <button mat-flat-button type="button" class="button-control-data" color="primary"  (click)="layerBase = !layerBase" > 
                    <mat-icon >layers</mat-icon><br> 
                    <span>camadas</span>           
                </button> 
        
                <button mat-flat-button type="button" *ngIf="layerBase"class="button-control-data" color="primary" > 
                    <mat-icon >layers</mat-icon><br> 
                    <span>ruas</span>           
                </button> 
                <button mat-flat-button type="button" *ngIf="layerBase"class="button-control-data" color="primary" > 
                    <mat-icon >layers</mat-icon><br> 
                    <span>avenidas</span>           
                </button> 
                <button mat-flat-button type="button" *ngIf="layerBase"class="button-control-data" color="primary" > 
                    <mat-icon >layers</mat-icon><br> 
                    <span>noturno</span>           
                </button> 
            
            </button>
        </div> 
 
    </mat-drawer-content>
    <mat-drawer class="sidenav-container-right" mode="side" position="end" [opened]="isShowingNavRight">
        <div class="container" *ngIf="managerManipulation.session_state"> 
            <app-manage-unit></app-manage-unit>
        </div>
        <div class="container" *ngIf="managerManipulation.session_county">          
            <app-manage-county></app-manage-county>
        </div>
        <div class="container" *ngIf="managerManipulation.session_ditrict"> 
            <app-manage-district></app-manage-district>
        </div>
        <div class="container" *ngIf="managerManipulation.session_streat"> 
            <app-manage-street></app-manage-street>
        </div>
        <div class="container" *ngIf="managerManipulation.session_public_place"> 
            <app-manage-public-place></app-manage-public-place>
        </div>  
        <div class="container" *ngIf="managerManipulation.session_infrastructure"> 
            <app-manage-infrastructure></app-manage-infrastructure>
        </div>
        <div class="container" *ngIf="managerManipulation.session_estructure"> 
            <app-manage-equipament-urban></app-manage-equipament-urban>
        </div>
        <div class="container" *ngIf="managerManipulation.session_network"> 
            <app-manage-network-infra></app-manage-network-infra>
        </div>
     
    </mat-drawer>s
</mat-drawer-container>