<div class="div-select">
    <div class="div-s div-title header-light-pallete"> 
        <h3 style="float: left; ">BAIRRO SELECIONADO</h3>
        <button mat-icon-button disabled aria-label="Excluir" style="float: right;">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Editar" style="float: right;">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
        <div class="div-s div-img"></div>
    </div>
    <div>
        <div class="wrapper-table">
            <div class="box-table color-pallete div-radius"> 
                <label >Nome:</label>
                <label >{{county.name}}</label>
            </div>
            <div class="box-table color-pallete div-radius"> 
                <label >Identificador:</label>
                <label >{{county.id}}</label>
            </div>      
            <div class="box-table-l color-pallete div-radius">                  
                <label >Nome Municipio:</label>
                <label >{{county.id}}</label>
            </div>           
            <div class="box-table-r color-pallete div-radius">                  
                <label >Area:</label>
                <label >{{county.area}}</label>
            </div>       
        </div>
    </div>