<table> 
    <tr>
        <td colspan="5">
            <div class="divider-div header-light-pallete "></div>
            <h3>Opções para INFRAESTRUTURA</h3>     
            <mat-divider style="width: 100%;"></mat-divider>       
        </td>
    </tr>
    <tr class="controls"> 
        <td class="col-header"></td>
        <td class="col-content">
        <button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
        </button>    
        </td>
        <td class="col-content">
        <button class="button-event" (click)="addNodeFatherNetwork()">
            <mat-icon >home</mat-icon> 
            Adicionar NO 
        </button>
        </td>
        <td class="col-content">
            <button class="button-event" (click)="associateFeatureFromInfrastructure()">
            <mat-icon >home</mat-icon> 
                Adicionar DestinO
            </button>
        </td>
        <td class="col-content">
            <button class="button-event" (click)="connectFeatureFromInfrastructure()">
            <mat-icon >home</mat-icon> 
                Adicionar 
            </button>
        </td>
    </tr>  
</table>  

<!-- <table>
    <tr>
        <th colspan="3">Opções para o Vertice:</th>
    </tr>
    <tr>
        <td> Infraestrutura:</td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromInfrastructure()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromInfrastructure()"> Associar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="associateFeatureFromInfrastructure()"> Associar Rede </button>
        </td>
    </tr>
</table>   -->