<table>
    <tr>
        <th colspan="3">Opções para o Vertice:</th>
    </tr>
    <tr>
        <td> Infraestrutura:</td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromInfrastructure()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromInfrastructure()"> Associar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="associateFeatureFromInfrastructure()"> Associar Rede </button>
        </td>
    </tr>
</table>  