<header>
  <app-navheadersigui (ActiveSideNav)="activeSideNav()"></app-navheadersigui>
  </header>
  <mat-drawer-container style="height: 100%;">
    <mat-drawer #drawer class="nav-container" mode="side" [opened]="isShowing">
      <button [routerLink]="['/user-zone']" mat-button class="button-nav">
        Home
      </button> 
      <button [routerLink]="['/geo-view']" mat-button class="button-nav">
        Dados Espaciais
      </button> 
      <button [routerLink]="['/network']" mat-button class="button-nav">
        Adicionar Redes
      </button> 
    </mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
  
  
  