<table>
    <tr>
        <th colspan="3">Opções para o Vertice:</th>
    </tr>
    <tr >
        <td> Logradouro:</td>
        <td>                     
            <button [routerLink]="['manager-city']" id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromPublicPlace()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromPublicPlace()"> Associar </button>
        </td>
    </tr>
</table>  