<table> 
    <tr>        
        <td colspan="5">
            <div class="divider-div header-light-pallete "></div>
            <h3>Opções para LOGRADOURO</h3>     
            <mat-divider style="width: 100%;"></mat-divider>       
        </td>    
    </tr>
    <tr> 
        <td class="col-header"></td>
        <td class="col-content">
        <button mat-icon-button color="primary" (click)="excludeFeature()">
            <mat-icon>delete</mat-icon>
        </button>    
        </td>
        <td class="col-content" *ngIf="validEdit" >
            <button class="button-event" (click)="connectFeatureFromPublicPlace()">
                <mat-icon >pageview</mat-icon> 
                Visualizar 
            </button>
        </td>
        <td class="col-content" *ngIf="validSave" >
        <button class="button-event" (click)="connectFeatureFromPublicPlace()">
            <mat-icon >add</mat-icon> 
            Adicionar 
        </button>
        </td>
    </tr>  
</table>  

