<table>
    <tr>
        <th colspan="3">Opções para o Vertice:</th>
    </tr>
    <tr >
        <td> Bairro:</td>
        <!-- <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Adicionar </button>
        </td> -->
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromDistrict()"> Associar </button>
        </td>
    </tr>
</table>  