<div class="inner-elements-map-container"> 
</div>
<div>
    <mat-accordion>
        <mat-expansion-panel class="mat-accordion-manager" (open)="panelOpenState=true" (false)="panelOpenState=false">
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Estado
                    </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <form [formGroup]="searchStateForm" (ngSubmit)="getFeatureState()"> 
                    <mat-form-field class="search-form-field" appearance="fill">
                        <mat-label>Buscar por ID</mat-label>
                        <input matInput placeholder="Consulte ID" formControlName="idState">
                    </mat-form-field>
                    <button mat-mini-fab color="primary" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>   
            </div>       
            <button mat-stroked-button color="primary" (click)="onClickSelectState()"> Adicionar Estado</button>                
            <button mat-stroked-button color="primary" (click)="addLayerVetorState()"> Visualizar Estados</button>
            <button mat-stroked-button color="primary" (click)="panelOpenAdFileMunicios=!panelOpenAdFileMunicios"> Adicionar Arquivo</button>
        </mat-expansion-panel>  
        <mat-expansion-panel class="mat-accordion-manager" (open)="panelOpenState=true" (false)="panelOpenState=false">
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Municipios
                    </mat-panel-title>
            </mat-expansion-panel-header>            
            <div>
                <form [formGroup]="searchCountyForm" (ngSubmit)="getFeatureCounty()"> 
                    <mat-form-field class="search-form-field" appearance="fill">
                        <mat-label>Buscar por ID</mat-label>
                        <input matInput placeholder="Consulte ID" formControlName="idMunicipio">
                    </mat-form-field>
                    <button mat-mini-fab color="primary" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>                
            </div>       
            <button mat-stroked-button color="primary" (click)="onClickSelectCounty()"> Adicionar Municipio</button>                
            <button mat-stroked-button color="primary" (click)="addLayerVetorMunicipios()"> Visualizar Municipios</button>
            <button mat-stroked-button color="primary" (click)="onClickCountyFile()"> Adicionar Arquivo</button>
        </mat-expansion-panel>         
        <mat-expansion-panel class="mat-accordion-manager" (open)="panelOpenState=true" (false)="panelOpenState=false">
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bairros
                    </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <form [formGroup]="searchDistrictForm" (ngSubmit)="getFeatureDistrict()"> 
                    <mat-form-field class="search-form-field" appearance="fill">
                        <mat-label>Buscar por ID</mat-label>
                        <input matInput placeholder="Consulte ID" formControlName="idDistrict">
                    </mat-form-field>
                    <button mat-mini-fab color="primary" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>   
            </div>     
            <button mat-stroked-button color="primary" (click)="onClickSelectDistrict()"> Adicionar Bairro</button>                                  
            <button mat-stroked-button color="primary"> Visualizar Bairros</button>
            <button mat-stroked-button color="primary"> Adicionar Arquivo</button>
        </mat-expansion-panel> 
        <mat-expansion-panel class="mat-accordion-manager" (open)="panelOpenState=true" (false)="panelOpenState=false">
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ruas
                    </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field class="search-form-field" appearance="fill">
                    <mat-label>Buscar por ID</mat-label>
                    <input matInput placeholder="Consulte ID">
                </mat-form-field>
                <button mat-mini-fab color="primary">
                    <mat-icon>search</mat-icon>
                </button>
            </div>                       
            <button mat-stroked-button color="primary" (click)="onClickSelectStreet()"> Visualizar Rua</button>
            <button mat-stroked-button color="primary"> Adicionar Arquivo</button>
        </mat-expansion-panel>  
        <mat-expansion-panel class="mat-accordion-manager" (open)="panelOpenState=true" (false)="panelOpenState=false">
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Logradouros
                    </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field class="search-form-field" appearance="fill">
                    <mat-label>Buscar por ID</mat-label>
                    <input matInput placeholder="Consulte ID">
                </mat-form-field>
                <button mat-mini-fab color="primary">
                    <mat-icon>search</mat-icon>
                </button>
            </div>                       
            <button mat-stroked-button color="primary" (click)="onClickSelectPublicPlace()"> Adicionar Logradouro</button>
            <button mat-stroked-button color="primary"> Adicionar Arquivo</button>
        </mat-expansion-panel> 
        <mat-expansion-panel class="mat-accordion-manager" (open)="panelOpenState=true" (false)="panelOpenState=false">
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Infraestruturas
                    </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field class="search-form-field" appearance="fill">
                    <mat-label>Buscar por ID</mat-label>
                    <input matInput placeholder="Consulte ID">
                </mat-form-field>
                <button mat-mini-fab color="primary">
                    <mat-icon>search</mat-icon>
                </button>
            </div>                       
            <button mat-stroked-button color="primary" (click)="onClickSelectInfrastructure()">  Visualizar Infraestruturas</button>
            <button mat-stroked-button color="primary" (click)="getFeatureInfrastructure()">  Consultar Infraestruturas</button>
            </mat-expansion-panel>     
        <mat-expansion-panel class="mat-accordion-manager" (open)="panelOpenState=true" (false)="panelOpenState=false">
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        Estruturas
                    </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field class="search-form-field" appearance="fill">
                    <mat-label>Buscar por ID</mat-label>
                    <input matInput placeholder="Consulte ID">
                </mat-form-field>
                <button mat-mini-fab color="primary">
                    <mat-icon>search</mat-icon>
                </button>
            </div>                       
            <button mat-stroked-button color="primary" (click)="onClickEquipamentFile()"> Visualizar Estruturas</button>
            <button mat-stroked-button color="primary"> Adicionar Arquivo</button>
        </mat-expansion-panel>    

</mat-accordion>     
</div> 