<form [formGroup]="districtForm" (ngSubmit)="onSubmit()"> 

    <div class="header header-light-pallete">
      
        <mat-icon >home</mat-icon><br>
        <h2>Gerenciar Dados Bairro</h2>

    </div> 
    <div class="container-div">   
        <div class="wrapper-form">
            <div class="box-form-l"> 
                <mat-form-field appearance="fill">
                    <mat-label>Identificação</mat-label>
                    <input matInput type="number" placeholder="Input" formControlName="idDistrict">
                </mat-form-field>
            </div>
            <div class="box-form"> 
                <mat-form-field appearance="fill">
                    <mat-label>Nome do Bairro</mat-label>
                    <input matInput type="text" placeholder="Input" formControlName="nomeDistrict">
                    <span class="spanValidate" *ngIf="districtForm.controls['nomeDistrict'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
            <div class="box-form-l">                  
                <mat-form-field appearance="fill">
                    <mat-label>Selecionar Cidade</mat-label>
                    <mat-select formControlName="selectDraw">
                        <mat-option *ngFor="let city of cities" [value]="city.id">
                            {{city.name}}
                        </mat-option>
                    </mat-select>
                    <span class="spanValidate" *ngIf="districtForm.controls['selectDraw'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
            <div class="box-form-r">                  
                <div class="content-form">
                    <mat-form-field appearance="fill">
                        <mat-label>Area do Bairro</mat-label>
                        <input type="number" matInput placeholder="Input" formControlName="areaDistrict">
                    </mat-form-field>
                </div>  
            </div> 
            <div class="box-form-l">                  

            </div>  
            <div class="box-form-r">   
                <button [disabled]=" !saving" mat-flat-button color="primary"> 
                    <mat-icon >save</mat-icon>                 
                </button> 
                <button [disabled]=" !editable" mat-flat-button color="primary"> 
                    <mat-icon >save_as</mat-icon>                 
                </button> 
            </div>   
        </div>
    </div>    
</form>