@import '../node_modules/@angular/material/theming';
// @import '../material-design-icons/iconfont/material-icons.css';
@include mat-core();

$custom-app-primary: mat-palette($mat-indigo,900,900,900);
//$custom-app-primary-light: mat-palette($mat-gray,300,300,300);
$custom-app-primary-light: mat-palette($mat-indigo,700,700,700);
$custom-app-secondary: mat-palette($mat-indigo,300,300,300);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-app-primary,$custom-app-secondary,$custom-app-warn);

//@include angular-material-theme($custom-theme);

@function my-mat-light-theme-foreground($color) {
    @return (
        base:              $color,
        divider:           rgba(0,0,0),//$black-12-opacity,
        dividers:          rgba(0,0,0),
        disabled:          rgba($color, 0.38),
        disabled-button:   rgba($color, 0.38),
        disabled-text:   rgba(255,255,255),
        hint-text:       rgba(255,255,255),
        secondary-text:  rgba(151, 28, 28),
        icon:            rgb(8, 0, 49),
        icons:           rgb(8, 0, 49),
        text:            rgb(8, 0, 49),
        slider-min:        rgba($color, 0.87),
        slider-off:        rgba($color, 0.26),
        slider-off-active: rgba($color, 0.38),
    );
};

$mat-foreground:my-mat-light-theme-foreground(mat-color($custom-app-primary,700));

$my-app-theme-custom: map-merge($custom-theme, (foreground: $mat-foreground));

@include angular-material-theme($my-app-theme-custom);

@function select-light(){
    $primary : map-get($custom-theme , primary);
    @return(
        mat-color($primary)
    );
}

.light-icon{
    color: white;
}

.header-light-pallete{
    background-color: mat-color($custom-app-primary-light);
    color: white;
}
.color-pallete{
    background-color: mat-color($custom-app-secondary);
}

.button-control-data{
    width: 90px;
    height: 90px;
    white-space: normal;
    line-height: 15px;

}

.button-event {

    background-color:  mat-color($custom-app-secondary);
    //color: white;
    border: 2px solid  mat-color($custom-app-secondary);
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    height: 90px;
}
.button-event:hover {
    background-color: #013141; /* Azure */
    color: white;
}
.button-event:active {
    background-color: #013141; /* Azure */
    border: 2px solid #013141; /* Azure */
    color: black;
}
//Configuração dos comporentes ANGULAR
.component{
    height: 100%;
    display: inline-block;
    width: 100%;
}

//Header Subtitle GEODADADOS
.header{
    width: 100%;
    height: 70px;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
}
.subtitle-nav{
    width:100%; 
    height: 60px;
  //  background-color: mat-color($accent);;
}

.sidenav-container{
    width: auto; 
    float: left;
    height: 100%; 
    border: 1px solid #555;
    //background-color: rgb(129, 129, 129);
    flex: 1 1 auto;
    align-items: center;
    flex-direction: row;
   // overflow: hidden;
   // justify-content: center;        
}

.container-div{
    width: auto; 
    height: 100%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;     
}

.container{
    width: 100%;
    height: auto; 
    background-color: white;
    display: flex;
    align-items: center;    
}


//Definindo temas base
// @use '../node_modules/@angular/material' as mat;

// $my-primary: mat.define-palette(mat.$indigo-palette, 800);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $my-warn: mat.define-palette(mat.$red-palette);

// $my-theme: mat.define-light-theme((
//     color: (
//         primary: $my-primary,
//         accent: $my-accent,
//         warn: $my-warn,
//         foreground: _mat-create-light-color-config($my-primary,$my-accent)//$mat-light-theme-foreground
//     )
// ));

// $mat-background-color: #720808;
// $mat-foreground-color: #720808;

// $mat-foreground: map-get($my-theme, foreground);
// $mat-foreground: map_merge($mat-foreground, (foreground: $mat-foreground-color));
// $my-theme: map_merge($my-theme,(foreground: $mat-foreground));

// @include mat.all-component-themes($my-theme);







// $my-primary: mat-palette($mat-indigo,900,900,900);
// $my-secondary: mat-palette($mat-gray,50);
// $my-warn: mat-palette($mat-red);

// $custom-theme: mat-light-theme($custom-app-primary,$custom-app-secondary,$custom-app-warn);

// @include angular-material-theme($custom-theme);

// $custom-typography: mat-typography-config(
//     $font-family: 'Ralaway'
// );

// @include angular-material-typography($custom-typography);




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    // color: black;
   // font-family: 'Roboto';
}


mat-divider{
    width: 100%;
}

.white-pallete-light{
    color: white !important;
}

.spanValidate{
    font-size: 10px;
    color: brown;
}

input{
    background-color: rgb(206, 209, 212);
    color: black;
    border: 2px solid #000000; /* Azure */
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}




.content{
    width: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: auto;
}

#div_Content_Primary{
    height: 300px;  
    border-radius: 0 0 8% 0;
    background-color: #030f2d;
}

#div_Content_Register{
    height: 500px;
    background-color: #010a22;
}

.content_body{
    margin: 0 auto;
    //margin-top: 50px;
    width: 100%;
    height: auto;
    position: relative;
}
.inner-elements-header{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #1d46b8;    
}
.inner-elements-header .inner_elements_body h2{
    margin-top: 10px;
    color: aliceblue;
}
.inner-elements-header .inner_elements_body p{
    margin-left: 10px;
    color: aliceblue;
}
.inner_elements{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
        /* background-color: red; */
}
.inner_elements_body{
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
        /* background-color: red; */
}
.inner_elements_body_magin{
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
        /* background-color: red; */
}
.inner_elements_body h2{
    color: black;
    margin-bottom: 10px;

}
.inner_elements_body p{
    color: black;
}

// .header{
//     width: 100%;
//     height: 80px;
//     display: block;
//     background-color: #010a22;
// }

.text_content{
    margin-top: 15px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 5%;
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: aliceblue;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
   /* font-weight: 200; */
}

/* .logo_container h1 span{
    font-weight: 800;
} */
.navigation{
    float: right;
    height: 100%;
}
.navigation a{ 
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child{
    padding-right: 0;
}
.navigation a li{ 
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 15px;
}





