@import '../node_modules/@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-indigo,900,900,900);
$custom-app-secondary: mat-palette($mat-gray,50);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-app-primary,$custom-app-secondary,$custom-app-warn);

@include angular-material-theme($custom-theme);

// $custom-typography: mat-typography-config(
//     $font-family: 'Ralaway'
// );

// @include angular-material-typography($custom-typography);




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
}


body{
    background-color:aliceblue;
}

.white-icon{
    color: white;
}

.spanValidate{
    font-size: 10px;
    color: brown;
}

input{
    background-color: rgb(206, 209, 212);
    color: black;
    border: 2px solid #000000; /* Azure */
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

button {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA; /* Azure */
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
button:hover {
    background-color: #013141; /* Azure */
    color: white;
}
button:active {
    background-color: #013141; /* Azure */
    border: 2px solid #013141; /* Azure */
    color: black;
}


.content{
    width: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: auto;
}

#div_Content_Primary{
    height: 300px;  
    border-radius: 0 0 8% 0;
    background-color: #030f2d;
}

#div_Content_Register{
    height: 500px;
    background-color: #010a22;
}

.content_body{
    margin: 0 auto;
    //margin-top: 50px;
    width: 100%;
    height: auto;
    position: relative;
}
.inner-elements-header{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #1d46b8;    
}
.inner-elements-header .inner_elements_body h2{
    margin-top: 10px;
    color: aliceblue;
}
.inner-elements-header .inner_elements_body p{
    margin-left: 10px;
    color: aliceblue;
}
.inner_elements{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
        /* background-color: red; */
}
.inner_elements_body{
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
        /* background-color: red; */
}
.inner_elements_body_magin{
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
        /* background-color: red; */
}
.inner_elements_body h2{
    color: black;
    margin-bottom: 10px;

}
.inner_elements_body p{
    color: black;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #010a22;
}

.text_content{
    margin-top: 15px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 5%;
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: aliceblue;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
   /* font-weight: 200; */
}

/* .logo_container h1 span{
    font-weight: 800;
} */
.navigation{
    float: right;
    height: 100%;
}
.navigation a{ 
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child{
    padding-right: 0;
}
.navigation a li{ 
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 15px;
}





