<div class="div-select">
    <div class="div-s div-title header-light-pallete"> 
        <h3 style="float: left; ">GERENCIAR EQUIPAMENTO</h3>
        <button mat-icon-button disabled aria-label="Excluir" style="float: right;">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Editar" style="float: right;">
            <mat-icon>edit</mat-icon>
        </button>
        <!-- <div class="divider-div header-light-pallete"></div>    -->
    </div>
    <div class="div-s div-img"></div>
</div>
<div>
    <div class="wrapper-table">
        <div class="box-table color-pallete div-radius"> 
            <label >Nome:</label>
            <label >{{county.co_equipament}}</label>
        </div>
        <div class="box-table color-pallete div-radius"> 
            <label >Identificador:</label>
            <label >{{county.id}}</label>
        </div>
        <div class="box-table-l color-pallete div-radius">                  
            <label >Codigo:</label>
            <label >{{county.co_cod}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius ">                  
            <label >Departamento:</label>
            <label >{{county.departament_admin}}</label>
        </div>    
        <div class="box-table-l color-pallete div-radius"> 
            <label >Numero:</label>
            <label >{{county.number_building}}</label>
        </div>  
        <div class="box-table-r color-pallete div-radius">                  
            <label >Tipo:</label>
            <label >{{county.co_type}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius"> 
            <label >Primeiro Nome:</label>
            <label >{{county.co_first_name}}</label>
        </div>  
        <div class="box-table-r color-pallete div-radius">                  
            <label >Nome:</label>
            <label >{{county.name}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius"> 
            <label >Nome Map:</label>
            <label >{{county.co_name_map}}</label>
        </div>  
        <div class="box-table-r color-pallete div-radius">                  
            <label >Bairro:</label>
            <label >{{county.id}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius"> 
            <label >Rua:</label>
            <label >{{county.id}}</label>
        </div>  
        <div class="box-table-r color-pallete div-radius">                  
            <label >Logradouro:</label>
            <label >{{county.id}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius"> 
            <label >Nome Map:</label>
            <label >{{county.co_name_map}}</label>
        </div>  
        <div class="box-table-r color-pallete div-radius">                  
            <label >Administrador:</label>
            <label >{{county.co_departament_admin}}</label>
        </div>  
        <div class="box-table-r color-pallete div-radius">                  
            <label >Observações:</label>
            <label >{{county.observation}}</label>
        </div>
        <div class="box-table-r color-pallete div-radius">                  
            <label >Nome Completo:</label>
            <label >{{county.co_name_complete}}</label>
        </div>
        
    </div>
</div>


