<table>
    <tr>
        <th colspan="3">Opções para o Vertice:</th>
    </tr>
    <tr *ngIf="hiddenState">
        <td > Estado:</td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromState()"> Associar </button>
        </td>
    </tr>
    <tr *ngIf="hiddenCounty">
        <td> Municipio:</td>
        <td>                     
            <button [routerLink]="['manager-city']" id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AssociarMunicipio' mat-flat-button color="primary" (click)="connectFeatureFromCounty()"> Associar </button>
        </td>
    </tr>
    <tr *ngIf="hiddenDistrict"> 
        <td> Bairro:</td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromDistrict()"> Associar </button>
        </td>
    </tr>
    <tr *ngIf="hiddenStreet">
        <td> Rua:</td>
        <td>                     
            <button [routerLink]="['manager-city']" id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromStreet()"> Associar </button>
        </td>
    </tr>
    <tr *ngIf="hiddenPublicPlace">
        <td> Logradouro:</td>
        <td>                     
            <button [routerLink]="['manager-city']" id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromPublicPlace()"> Associar </button>
        </td>
    </tr>
    <tr *ngIf="hiddenInfrastructure">
        <td> Infraestrutura:</td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromInfrastructure()"> Associar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="associateFeatureFromInfrastructure()"> Associar Rede </button>
        </td>
    </tr>
    <tr *ngIf="hiddenEstructure">
        <td> Equipament Urbano:</td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Adicionar </button>
        </td>
        <td>                     
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="connectFeatureFromEstruture()"> Associar </button>
        </td>
    </tr>
</table>  