
.wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 60px 70px 70px;
}
.box-header-left{
    grid-column-start: 1;
    grid-row-start: span 3;
    
}
.box-header-left img{
    position: relative;
    top: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box-header{
    display: table;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    background-color: blue;
   
}
.box-header h3{
    vertical-align: middle;
    display: table-cell;
    color: azure;
}
.box-button{
    grid-column-start: 2;
    grid-column-end: 4;
}
.box{
    grid-column-start: 2;
    grid-column-end: 4;
}
.button-box{
    float: right;
}

::ng-deep .mat-form-field {
    width: 100%; 
 }