<div class="div-select">
    <div class="div-s div-title header-light-pallete"> 
        <h3 style="float: left; ">GERENCIAR STREET</h3>
        <button mat-icon-button disabled aria-label="Excluir" style="float: right;">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Editar" style="float: right;">
            <mat-icon>edit</mat-icon>
        </button>
        <!-- <div class="divider-div header-light-pallete"></div>    -->
    </div>
<div>
    <div class="wrapper-table">
        <div class="box-table color-pallete div-radius"> 
            <label >Nome:</label>
            <label >{{county.name_street}}</label>
        </div>
        <div class="box-table color-pallete div-radius"> 
            <label >Identificador:</label>
            <label >{{county.id}}</label>
        </div>
        <div class="box-table-l color-pallete div-radius">                  
            <label >Codigo:</label>
            <label >{{county.cod_key}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius ">                  
            <label >Rua Anterior:</label>
            <label >{{county.name_street_pre}}</label>
        </div>   
        <div class="box-table-l color-pallete div-radius"> 
            <label >Tipo:</label>
            <label >{{county.type_street}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius"> 
            <label >Legislação:</label>
            <label >{{county.type_legislation}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius">                  
            <label >Distrito de Entrada:</label>
            <label >{{county.district_e}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius">                  
            <label >Distrito de Saida:</label>
            <label >{{county.district_d}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius">                  
            <label >Codigo de Entrada:</label>
            <label >{{county.zip_code_e}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius">                  
            <label >Codigo de Saida:</label>
            <label >{{county.zip_code_d}}</label>
        </div>  
        <div class="box-table color-pallete div-radius"> 
            <label >Status:</label>
            <label >{{county.status}}</label>
        </div>     
        <div class="box-table color-pallete div-radius"> 
            <label >Distrito:</label>
            <label >{{county.id}}</label>
        </div>        
    </div>
</div>
</div>


