<form [formGroup]="cityForm" (ngSubmit)="onSubmit()"> 

<div class="inner-elements-header">
    <div class="inner_elements_body">    
        <h2>Gerenciar Dados Municipio</h2>
    </div>
</div>
<div class="inner_elements_body">
    <div class="div-content-form">
        <div class="div-item-content-form">
            <div class="content-form-principal">
                <mat-form-field appearance="fill">
                    <mat-label>Nome Municipio</mat-label>
                    <input type="text" matInput placeholder="Input" formControlName="nameCity">
                    <span class="spanValidate" *ngIf="cityForm.controls['nameCity'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
        </div>
        <div class="div-item-content-form">
            <div class="content-form">
                <mat-form-field appearance="fill">
                    <mat-label>Identificação</mat-label>
                    <input type="number" matInput placeholder="Input" formControlName="identity">
                </mat-form-field>
            </div>
            <div class="content-form">
                <mat-form-field appearance="fill">
                    <mat-label>Sigla UF </mat-label>
                    <input type="text" matInput placeholder="Input" formControlName="siglaUF">
                    <span class="spanValidate" *ngIf="cityForm.controls['siglaUF'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
        </div>
        <div class="div-item-content-form">
            <div class="content-form">
                <mat-form-field appearance="fill">
                    <mat-label>Selecionar Estado</mat-label>
                    <mat-select formControlName="selectDraw">
                        <mat-option *ngFor="let stateL of states" [value]="stateL.id">
                            {{stateL.name}}
                        </mat-option>
                    </mat-select>
                    <span class="spanValidate" *ngIf="cityForm.controls['selectDraw'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
            <div class="content-form">
            </div>
        </div>
        <div class="div-item-content-form">
            <div class="content-form">
                <mat-form-field appearance="fill">
                    <mat-label>Codigo IBGE</mat-label>
                    <input type="text" matInput placeholder="Input" formControlName="codigoIBGE">
                    <span class="spanValidate" *ngIf="cityForm.controls['codigoIBGE'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>   
            <div class="content-form">
                <mat-form-field appearance="fill">
                    <mat-label>Codigo Ambiental</mat-label>
                    <input type="number" matInput placeholder="Input" formControlName="codigoAmbiental">
                    <span class="spanValidate" *ngIf="cityForm.controls['codigoAmbiental'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>        
        </div>
        <div class="div-item-content-form">
            <div class="content-form-principal">
                <mat-form-field appearance="fill">
                    <mat-label>Nome UGRHI</mat-label>
                    <input type="text" matInput placeholder="Input" formControlName="nomeUGRHI">
                    <span class="spanValidate" *ngIf="cityForm.controls['nomeUGRHI'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
        </div>
        <div class="div-item-content-form">
            <div class="content-form">
                <mat-form-field appearance="fill">
                    <mat-label>Numero UGRHI </mat-label>
                    <input type="number" matInput placeholder="Input" formControlName="numeroUGRHI">
                    <span class="spanValidate" *ngIf="cityForm.controls['numeroUGRHI'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="div-item-content-form">
            <div class="content-form">
                <mat-form-field appearance="fill">
                    <mat-label>Coordenadas</mat-label>
                    <input matInput placeholder="Input" formControlName="coordenada">
                </mat-form-field>
            </div>
            <div class="content-form">
                <button  mat-raised-button color="primary" (click)="onDrawChanged()">Draw Limites</button>
                <button mat-stroked-button (click)="getState()">Draw Remove</button>
            </div>
        </div> -->
        <div class="div-item-content-form">
            <div class="content-form">
                <mat-form-field appearance="fill">
                    <mat-label>Area Municipio</mat-label>
                    <input type="text" matInput placeholder="Input" formControlName="areaLimite">
                </mat-form-field>
            </div>
            <div class="content-form">
                <button type="submit" mat-raised-button color="primary" [disabled]="!cityForm.valid">Save Data</button>
            </div>
        </div>
    </div>
    
    <!-- <mat-grid-list cols="2">
        <mat-grid-tile >
            <mat-form-field appearance="fill">
                <mat-label>Nome Municipio</mat-label>
                <input matInput placeholder="Input">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field  appearance="fill">
                <mat-label>Identificação</mat-label>
                <input matInput placeholder="Input">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Nome Municipio</mat-label>
                <input matInput placeholder="Input">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Nome Municipio</mat-label>
                <input matInput placeholder="Input">
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list> -->

</div>
</form>