<div class="div-select">
    <div class="div-s div-title header-light-pallete"> 
        <h3 style="float: left;">INFRAESTRUTURA DE REDE</h3>
        <button mat-icon-button disabled aria-label="Excluir" style="float: right;">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Editar" style="float: right;">
            <mat-icon>edit</mat-icon>
        </button>
        <!-- <div class="divider-div header-light-pallete"></div>    -->
    </div>
    <div class="div-s div-img"></div>
</div>
<div>
    <div class="wrapper-table">
        <div class="box-table color-pallete div-radius"> 
            <label >Serial:</label>
            <label >{{county.serial_number}}</label>
        </div>
        <div class="box-table color-pallete div-radius"> 
            <label >Identificador:</label>
            <label >{{county.id}}</label>
        </div>
        <div class="box-table-l color-pallete div-radius">                  
            <label >Status:</label>
            <label >{{county.id}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius ">                  
            <label >Infra entrada:</label>
            <label >{{county.id}}</label>
        </div>    
        <div class="box-table color-pallete div-radius"> 
            <label >Infra out:</label>
            <label >{{county.id}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius">                  
            <label >Subsistema:</label>
            <label >{{county.id}}</label>
        </div>                 
    </div>
</div>


