/*  */

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inner-elements-map-container{
    width: 100%;
    height: 60px;
    display: block;
    margin-left: 20px;
}

.map-container {

    width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
    flex-grow: 1; 
}

.scaline{
    position: relative
}

.mouseposition-control{
    color: white;
}

.teste{
    display: none;
}


/*  */



