<div class="wrapper-table">
    <div class="box-table"> 
        <h3>MUNICIPIO SELEIONADO</h3>
    </div>
    <div class="box-table"> 
        <label >Identificador:</label>
        <label >{{county.id}}</label>
    </div>
    <div class="box-table-l">                  
        <label >Cod Estado:</label>
        <label >{{county.id}}</label>
    </div>   
    <div class="box-table-r">                  
        <label >Sigla:</label>
        <label >01</label>
    </div>    
    <div class="box-table"> 
        <label >Nome:</label>
        <label >01</label>
    </div>  
    <div class="box-table-l">                  
        <label >Cod IBGE:</label>
        <label >01</label>
    </div>   
    <div class="box-table-r">                  
        <label >Ambiental:</label>
        <label >01</label>
    </div>    
    <div class="box-table"> 
        <label >Area:</label>
        <label >01</label>
    </div>        
</div>
