<div class="div-select">
    <div class="div-s div-title header-light-pallete"> 
        <h3 style="float: left; ">GERENCIAR LOGRADOURO</h3>
        <button mat-icon-button disabled aria-label="Excluir" style="float: right;">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Editar" style="float: right;">
            <mat-icon>edit</mat-icon>
        </button>
        <!-- <div class="divider-div header-light-pallete"></div>    -->
    </div>
<div>
    <div class="wrapper-table">      
        <div class="box-table color-pallete div-radius"> 
            <label >Identificador:</label>
            <label >{{county.id}}</label>
        </div>
        <div class="box-table-l color-pallete div-radius">                  
            <label >Cod Setor:</label>
            <label >{{county.cod_sector}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius ">                  
            <label >Code Bloco:</label>
            <label >{{county.cod_block}}</label>
        </div>   
        <div class="box-table-l color-pallete div-radius"> 
            <label >Cod face:</label>
            <label >{{county.cod_face}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius"> 
            <label >Total Residences:</label>
            <label >{{county.total_residences}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius">                  
            <label >Total Geral:</label>
            <label >{{county.total_general}}</label>
        </div>   
        <div class="box-table-r color-pallete div-radius">                  
            <label >Distrito:</label>
            <label >{{county.id}}</label>
        </div>  
        <div class="box-table-l color-pallete div-radius">                  
            <label >Rua:</label>
            <label >{{county.id}}</label>
        </div>               
    </div>
</div>
</div>