<form [formGroup]="controlMapForm" >

    <!-- <div class="componets-horizontal">
        <button mat-raised-button color="primary" id="selecionarDraw" (click)="selecionarDraw()">Search</button>
    </div> -->
    <mat-form-field color="primary" appearance="fill"> 
        <mat-label>Desenhar Elemento</mat-label>
        <mat-select formControlName="selectDraw">
            <mat-option *ngFor="let selectDraw of optionsDraws" [value]="selectDraw.id">
                {{selectDraw.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
