<table> 
    <tr>
        <h3>Equipament Urbano</h3>
        <div class="divider-div header-light-pallete"></div>
    </tr>
    <tr> 
        <td class="col-header"></td>
        <td class="col-content">
        <button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
        </button>    
        </td>
        <td class="col-content">
        <button class="button-event" (click)="connectFeatureFromEstruture()">
            <mat-icon >home</mat-icon> 
            Adicionar 
        </button>
        </td>
    </tr>  
</table>  
