<form [formGroup]="controlMapForm" >

    <div class="componets-horizontal">
        <div class="componets-horizontal" >
            <button mat-icon-button class="button-mat-control white-pallete-light" (click)="onDrawPoint()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="componets-horizontal">
            <button mat-icon-button class="button-mat-control white-pallete-light" (click)="onDrawNone()">
                <mat-icon>swipe_up</mat-icon>
            </button>
        </div>
        <div class="componets-horizontal">
            <button mat-icon-button class="button-mat-control white-pallete-light" (click)="onDrawClear()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</form>
