

@import '../../../../node_modules/@angular/material/theming';
// @import '../material-design-icons/iconfont/material-icons.css';
@include mat-core();
@import '../../../styles.scss';
$accent : map-get($custom-theme , accent);

.header-menu{
    box-shadow: 0 0 1em black;
    z-index: 10;
    position: absolute;
    width: 100%;
}

.man{
    position: absolute;
}

.nav-container{
    /* width: 200px;*/
    height: 100%; 
    border: 1px solid #555;
   // background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-sidenav-container {
    height: 100%; 
    mat-sidenav {
//background-color: mat-color($accent);
        mat-nav-list{
            .expanded-button{
                transition: 300ms ease-in-out;
                transform: rotate(0deg);
                right: 0;
                float: right;
                position: absolute;
            }
            .expanded-button.rotated{
                transform: rotate(180deg);
            }
        }
    }
}

footer{
    width: 100%;
    background-color: blue;
}
