@import '../../../../../../../node_modules/@angular/material/theming';
@include mat-core();
@import '../../../../../../styles.scss';
$primary : map-get($custom-theme , primary);
$accent : map-get($custom-theme , accent);

.wrapper{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    width: auto;
    /* grid-template-rows: 70px 70px; */
}
.box-field{
    grid-column-start: 1;
    grid-column-end: 4;
   
}
.button-colum{
    text-align: center;
}

.divider-div{
    width: 250px;
    height: 10px;
}
