<div class="wrapper">
    <div class="box-field"> 
        <h3>GERENCIAR MUNICIPIO</h3>
    </div>
    <div class="box-field"> 
        <div style="width: auto;">
            <label>Buscar Municipio </label>
        </div>                   
        <input class="input-filter" type="text">
    </div>
    <div class="box-field">                  
        <label >Código UF </label>
        <input class="input-filter-secondary" type="text">  
        <button mat-icon-button (click)="getFeatureCounty()"> 
            <mat-icon >menu</mat-icon>
        </button>  
    </div>
    <div >
        <button class="button-event"> 
            <mat-icon >home</mat-icon> 
            ShapeFiles Municipios
        </button>                   
    </div>
    <div >
        <button class="button-event" (click)="onClickSelectCounty()"> 
            <mat-icon >home</mat-icon> 
            Manipular Limites Municipais
        </button>  
    </div>
    <div >
        <button class="button-event" (click)="addLayerVetorMunicipios()"> 
            <mat-icon >home</mat-icon> 
            Buscar Limites Municipais
        </button>  
    </div>
</div> 