<div class="wrapper">
    <div class="box-field"> 
        <h3>GERENCIAR MUNICIPIO</h3>
        <div class="divider-div header-light-pallete"></div>
       
    </div>

    <div class="box-field"> 
        <div style="width: auto;">
            <label>Buscar Municipio </label>
        </div>                   
        <input class="input-filter" type="text">
    </div>
    <div class="box-field">                  
        <label >Código UF </label>
        <input class="input-filter-secondary" type="text">  
        <button mat-icon-button (click)="getFeatureCounty()"> 
            <mat-icon >menu</mat-icon>
        </button>  
    </div>
    <div class="button-colum">
        <button mat-flat-button class="button-control-data" color="primary" (click)="onClickShapeFile()"> 
            <mat-icon >home</mat-icon><br> 
            <span> ShapeFiles Municipios</span>           
        </button>                   
    </div>
    <div class="button-colum">
        <button mat-flat-button class="button-control-data" color="primary" (click)="onClickSelectCounty()"> 
            <mat-icon >home</mat-icon><br> 
            <span>Manipular Limites Municipais</span>           
        </button>   
    </div>
    <div class="button-colum">
        <button mat-flat-button class="button-control-data" color="primary" (click)="addLayerVetorMunicipios()"> 
            <mat-icon >home</mat-icon><br> 
            <span>Buscar Limites Municipais</span>           
        </button> 
    </div>
    <div class="box-field">
        <mat-divider></mat-divider>
    </div>   
</div> 