<div class="subtitle-nav header-light-pallete">
    <div class="control">
        <h2 class="secondary-text ">Gerenciar ShapeFiles de Municipios</h2>
        <button mat-button (click)="onNoClick()">Close</button>
    </div>
 </div>
 <div class="div-modal">
    <div class="container-modal">  
        <div class="modal-control">
            <div class="controlSub">
                <h2 class="secondary-text ">Arquivos Salvos</h2>  
                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload multiple>
                <button mat-icon-button color="accent" (click)="fileUpload.click()" aria-label="Example icon button with a heart icon">
                    <mat-icon>folder_open</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Example icon button with a heart icon">
                    <mat-icon>file_upload</mat-icon>
                </button>
            </div>
            <mat-divider class="divis"></mat-divider>

        </div>
        <div class="modal-control">
            <app-tree-data ></app-tree-data>
        </div>  
    </div>  
     <div class="container-modal">     
        <div class="modal-control"> 
            <h2 class="secondary-text ">Arquivos Salvos</h2> 
            <mat-divider class="divis"></mat-divider> 
        </div>
        <div class="modal-control">   
            <app-list [folders]="folders"></app-list>          
        </div>
          
    </div>  

 </div>
<!-- <div class="container-div color-pallete modal-div ">                
    <div class="container">          
        <h2 class="secondary-text ">Inserir Arquivos</h2>           
    </div>  
     <div class="container">          
        <h2 class="secondary-text ">Arquivos Salvos</h2>           
    </div>  
</div>
<div class="container-div color-pallete modal-div">                
   
</div> -->