<div #popup class="ol-popup">    
    <a #popupCloser href="#" class="ol-popup-closer"></a>
    <div #popupContent class="ol-popup-content">
        
        <div>
            <h3>Opções para o Vertice:</h3>
            <label for="btn_AdicionarCoorde">Coordenada</label>
            <label id="btn_AdicionarCoorde">{{coordenadaPoint}}</label>
        </div>  
        <div>
            <label for="btn_AdicionarInfra">Adicionar/Associar</label>
            <button id='btn_AdicionarInfra' mat-flat-button color="primary" (click)="enableDivInfra()"> Infraestrutura </button>
        </div>
        <div>
            <label for="btn_AdicionarRede">Associar</label>
            <button id='btn_AdicionarRede' mat-flat-button color="primary" (click)="enableDivMunicipio()"> Municipio </button>
        </div>        
    </div>   
</div>   