
 <table> 
    <tr>
        <td colspan="5">
            <div class="divider-div header-light-pallete "></div>
            <h3>Opções para MUNICIPIO</h3>     
            <mat-divider style="width: 100%;"></mat-divider>       
        </td>
    </tr>
    <tr> 
        <td class="col-header"></td>
        <td class="col-content">
        <button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
        </button>    
        </td>
        <td class="col-content">
        <button class="button-event" (click)="connectFeatureFromCounty()">
            <mat-icon >home</mat-icon> 
            Adicionar 
        </button>
        </td>
    </tr>  
</table>   