
<!-- <table>
    <tr>
        <th colspan="3">Opções para o Vertice:</th>
    </tr>
    <tr> -->
        <td> Municipio:</td>
        <td>  
            <table>
                <tr>
                    <td>
                    <button mat-icon-button color="primary">
                        <mat-icon>delete</mat-icon>
                    </button>    
                    </td>
                    <td>
                    <button class="button-event" (click)="connectFeatureFromCounty()">
                        <mat-icon >home</mat-icon> 
                        Adicionar 
                    </button>
                    </td>
                </tr>
            </table>
        </td>
        <!-- <td>                     
            <button id='btn_AssociarMunicipio' mat-flat-button color="primary" > Associar </button>
        </td> -->
    <!-- </tr>
</table>   -->