.wrapper-form{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    width: 50%;   
}
.box-form{
    grid-column-start: 1;
    grid-column-end: 3;
  
}
.mat-form-field{
    width: 100%;
}
.box-form-l{
    grid-column-start: 1;
    text-align: center;  
}
.box-form-r{
    grid-column-start: 2;
    text-align: center;
 
  
}

.container-div{
    width: auto; 
    height: 100%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
         
}