<!-- <form [formGroup]="controlMapForm" (ngSubmit)="onSubmit()"> -->
    <!-- <div>
        <label for="btn_submit">Submiter</label>
        <button id="btn_submit" type="submit">submit</button>
    </div> -->
<!-- </form> -->
    <div>
        <label for="pointMap">Marcar Ponto no Mapa</label>
        <button id="btn_pointMap" (click)="pointMap()">Marcador</button>
    </div>
    <div>
        <label for="btn_searchPointMap">Buscar Ponto no Banco</label>
        <button id="btn_searchPointMap" (click)="searchPointMap()">Search</button>
    </div>
