<form [formGroup]="searchForm" class="form-search" (ngSubmit)="getFeatureCounty()"> 
    <div class="wrapper">
        <div class="box-field"> 
            <h3>GERENCIAR BAIRROS</h3>
            <div class="divider-div header-light-pallete"></div>           
        </div>   
            <div class="box-field"> 
                <div style="width: auto;">
                    <label>Buscar Bairros </label>
                </div>                   
                <input class="input-data input-filter color-pallete" type="text" formControlName="idMunicipio">
            </div>
            <div class="box-field">                  
                <label >Cod Cidade </label>
                <input class="input-search color-pallete" type="text" formControlName="idState">  
                <button mat-icon-button type="submit"> 
                    <mat-icon >search</mat-icon>
                </button>  
            </div>
        <div class="button-colum">
            <button mat-flat-button type="button" class="button-control-data" color="primary" (click)="onClickShapeFile()"> 
                <mat-icon >home</mat-icon><br> 
                <span> ShapeFiles Bairros</span>           
            </button>                   
        </div>
        <div class="button-colum">
            <button mat-flat-button type="button" class="button-control-data" color="primary" (click)="onClickSelectCounty()"> 
                <mat-icon >home</mat-icon><br> 
                <span>Manipular Limites Distritos</span>           
            </button>   
        </div>
        <div class="button-colum">
            <button mat-flat-button type="button" class="button-control-data" color="primary" (click)="addLayerVetorMunicipios()"> 
                <mat-icon >home</mat-icon><br> 
                <span>Buscar Limites Distritos</span>           
            </button> 
        </div>
        <div class="box-field">
            <mat-divider></mat-divider>
        </div>      
    </div> 
    </form>
    