<form [formGroup]="ppForm" (ngSubmit)="onSubmit()"> 

    <div class="header header-light-pallete">
      
        <mat-icon >home</mat-icon><br>
        <h2>Gerenciar Dados Logradouros</h2>

    </div> 
    <div class="container-div">   
        <div class="wrapper-form">
            <div class="box-form-l"> 
                <mat-form-field appearance="fill">
                    <mat-label>Identificação da Logradouro</mat-label>
                    <input matInput placeholder="Input" formControlName="pp_public_place">
                </mat-form-field>
            </div>           
            <div class="box-form-l">                  
                <mat-form-field appearance="fill">
                    <mat-label>Cod Setor</mat-label>
                    <input matInput placeholder="Input" formControlName="pp_cod_sector">
                    <span class="spanValidate" *ngIf="ppForm.controls['eq_co_equipament'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
            <div class="box-form-r">                  
                <mat-form-field appearance="fill">
                    <mat-label>Codigo da face</mat-label>
                    <input matInput placeholder="Input" formControlName="pp_cod_face">
                    <span class="spanValidate" *ngIf="ppForm.controls['pp_cod_face'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div> 
            <div class="box-form-l">                  
                <mat-form-field appearance="fill">
                    <mat-label>Codigo da face</mat-label>
                    <input matInput placeholder="Input" formControlName="pp_cod_face">
                    <span class="spanValidate" *ngIf="ppForm.controls['pp_cod_face'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
            <div class="box-form-r">                  
                <mat-form-field appearance="fill">
                    <mat-label>Total de Residencias </mat-label>
                    <input matInput placeholder="Input" formControlName="pp_total_residences">
                </mat-form-field>
            </div> 
            <div class="box-form-l">                  
                <mat-form-field appearance="fill">
                    <mat-label>Total Geral </mat-label>
                    <input matInput placeholder="Input" formControlName="pp_total_general">
                </mat-form-field>
            </div>
            <div class="box-form-r">                  
                <mat-form-field appearance="fill">
                    <mat-label>Selecionar Rua</mat-label>
                    <mat-select formControlName="pp_streat">
                        <mat-option *ngFor="let street of streets" [value]="street.id">
                            {{street.name_street}}
                        </mat-option>
                    </mat-select>
                    <span class="spanValidate" *ngIf="ppForm.controls['pp_streat'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div> 
            <div class="box-form-l">                  
                <mat-form-field appearance="fill">
                    <mat-label>Selecionar Distrito</mat-label>
                    <mat-select formControlName="pp_district">
                        <mat-option *ngFor="let district of districts" [value]="district.id">
                            {{district.name}}
                        </mat-option>
                    </mat-select>
                    <span class="spanValidate" *ngIf="ppForm.controls['pp_district'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div>
            <div class="box-form-r">                  
                <mat-form-field appearance="fill">
                    <mat-label>Codigo da quadra</mat-label>
                    <input matInput placeholder="Input" formControlName="pp_cod_block">
                    <span class="spanValidate" *ngIf="ppForm.controls['pp_cod_block'].errors">
                        Campo Obrigatorio
                    </span>
                </mat-form-field>
            </div> 
            <div class="box-form-r">   
                <button [disabled]=" !saving" mat-flat-button color="primary"> 
                    <mat-icon >save</mat-icon>                 
                </button> 
                <button [disabled]=" !editable" mat-flat-button color="primary"> 
                    <mat-icon >save_as</mat-icon>                 
                </button> 
            </div>   
        </div>
    </div>    
    </form>