
  
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">   
    <div class="wrapper">
        <div class="box-header-left">
            <img [src]="imgLogo" class="logo" width="128" height="40">
        </div>
        <div class="box-header">
            <h3>Login Usuário</h3>
        </div> 
        <div class="box">
            <mat-form-field appearance="fill">
                <mat-label>e-mail</mat-label>
                <input matInput type="email" placeholder="Input" formControlName="emailLogin">
            </mat-form-field>
        </div>
        <div class="box">
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput type="input" placeholder="Input" formControlName="password">
            </mat-form-field>
        </div>
        <div class="box-button">
            <button type="button" mat-raised-button color="primary" class="button-box" [routerLink]="['/create-account']">Criar Conta</button>
            <button type="submit" mat-raised-button color="primary" class="button-box">Login</button>
        </div>
    </div> 
</form>

